.detail-container {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;

    :host ::ng-deep {
        .p-card {
            border-radius: 12px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        }
    }
}